DROP TABLE IF EXISTS checkin_facial; CREATE TABLE checkin_facial ( id INT(11) NOT NULL AUTO_INCREMENT, id_usuario INT(11) NOT NULL, data_hora DATETIME NOT NULL, dispositivo_id VARCHAR(50), tipo VARCHAR(20) DEFAULT 'entrada', PRIMARY KEY (id), KEY idx_usuario (id_usuario), KEY idx_data (data_hora) ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
