DROP TABLE IF EXISTS facial_sync; CREATE TABLE facial_sync ( id INT(11) NOT NULL AUTO_INCREMENT, id_usuario INT(11) NOT NULL, data DATE NOT NULL, status ENUM('pendente', 'sincronizado', 'falha') NOT NULL DEFAULT 'pendente', horario_sync DATETIME DEFAULT NULL, detalhes TEXT, PRIMARY KEY (id), KEY idx_usuario_data (id_usuario, data) ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
